@charset "UTF-8";
@import "/css/fa/css/all.css";
@font-face {
	src: url("/css/noto-r.otf");
	font-family: 'notor';
}

@font-face {
	src: url("/css/notob.otf");
	font-family: 'notob';
}

* {
	margin: 0;
	padding: 0;
	font-family: 'noto-r';
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	position: relative;
}

body {
	width: 100%;
	height: 100vh;
	color: #333030;
}

header {
	width: calc(100% - 250px);
	height: 65px;
	right: 0;
	/*background-color: #3dc37d;*/
	background-color: #7f8ed7;
	position: fixed;
}

nav {
	width: 250px;
	height: calc(100vh - 65px);
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff1;
	z-index: 100;
	box-shadow: 1px 2px 3px 1px #0001;
}

#main {
	width: calc(100% - 250px);
	height: calc(100vh - 65px);
	position: fixed;
	bottom: 0;
	background-color: #eef0f3;
	overflow-y: auto;
	right: 0;
}

#main-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.logo-container {
	width: 250px;
	height: 65px;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	align-items: center;
	z-index: 10;
	background-color: #909ee3;
}

#logo {
	width: 121px;
	height: 37px;
	position: relative;	
	cursor: pointer;
	left: 20px;
	transform: scale(1.0);
	transition: transform .2s;
}

.logo-container > i {
	color: #fff;
	position: absolute;
	right: 20px;
	font-size: 23px;
}

#logo:hover {
	transform: scale(1.01);
}

nav > .tab1 {
	width: 100%;
	position: relative;
}

nav > .tab1 > h1 {
	font-size: 15px;
	color: #3a5bab;
	position: relative;
	font-weight: bolder;
	margin-top: 12px;
	margin-left: 16px;
	font-family: "notob";
}

nav > .tab1 > .tab2 {
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	position: relative;
}

nav > .tab1 > .tab2 > .tab2-top {
	display: flex;
	align-items: center;
	position: relative;
}

nav > .tab1 > .tab2 > .tab2-top > i {
	color: #ccc;
	font-size: 23px;

}

nav > .tab1 > .tab2 > .tab2-top > span {
	font-weight: 700;
	color: #222;
	font-family: "notob";
	font-size: 13px;
	margin-left: 10px;
}

nav > .tab1 > .tab2 > .tab2-top > i:last-child {
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	color: #ccc;
}

nav > .tab1 > .tab2 > .tab2-top > i:last-child:hover {
	color: #bbb;	
}

nav > .tab1 > .tab2 > ul {
	width: 90%;
	margin: 12px auto;
	border-left: 2px solid #ddd;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

nav > .tab1 > .tab2 > ul > li {
	width: 95%;
	border-radius: 5px;
	height: 35px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 5px;
}

nav > .tab1 > .tab2 > ul > li:hover {
	background-color: #fafafa;
}

nav > .tab1 > .tab2 > ul > li.active {
	background-color: #dff1ff;
	color: #5b72b9;
}

nav > .tab1 > .tab2 > ul > li.active > a {
	color: #456aad;
	font-weight: bolder;
}

nav > .tab1 > .tab2 > ul > li > a {
	font-family: "notob";
	font-weight: bolder;
	margin-left: 10px;
	color: #a8a8ac;
	font-size: 13px;
}

.search-box {
	width: auto;
	height: 100%;
	position: relative;
	align-items: center;
	display: flex;
	left: 20px;
}

#search-btn {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: none;
	outline: none;
	position: absolute;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #7882b3;
	font-size: 14px;
	z-index: 10;
}

#search-input {
	height: 40px;
	border-radius: 10px;
	position: relative;
	left: 15px;
	outline: none;
	background-color: #7882b3;
	border: none;
	padding-left: 35px;
	padding-right: 10px;
	width: 0px;
	display: none;
	max-width: 400px;
	font-weight: lighter;
	font-family: "notor";
	font-size: 14px;
	color: #fff;
}

#search-input::placeholder {
	color: #fff;
}

#virtual_dom {
	font-size: 14px;
	font-weight: lighter;
	font-family: "notor";
	padding-left: 35px;
	padding-right: 10px;
}


header > .user-box {
	position: absolute;
	width: auto;
	height: 100%;
	right: 0;
	top: 0;
}

.user-box > .user-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.user-box > .user-container > .user-menu {
	position: relative;
	width: 65px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header > .user-box > .user-container::before {
	width: 1px;
	content: "";
	height: 30px;
	background-color: #fff6;
	position: absolute;
	right: 60px;
}

header > .user-box > .user-container > .user-menu > i {
	cursor: pointer;
	color: #fff;
	font-size: 23px;
}

header > .user-box > .user-container > .user-info {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 30px;
}

header > .user-box > .user-container > .user-info > .user-img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background-color: #0003;
	color: #fff;
	font-size: 45px;
	font-weight: lighter;
}

header > .user-box > .user-container > .user-info > .user-text {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-info > .user-text > span {
	text-align: center;
}

.user-text > span.username {
	color: #fff;
	font-size: 15px;
	font-weight: bolder;
}

.user-text > span.usernick {
	font-size: 13px;
	color: #fff9;
}

#main-container > .main_box	{
	width: 40%;
	min-width: 600px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.main_box > .form_part {
	width: 100%;
	height: 150px;
	background-color: #fff;
	margin-top: 30px;
	cursor: pointer;
	box-shadow: 1px 1px 4px 2px #00000005;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main_box > .form_part > p {
	color: #999;
	margin-left: 30px;
	top: 30px;
	position: relative;
}

.user-info > i {
	color: #fff;
	font-size: 40px;
}

.main_box > .form_part > .part-form-btn {
	margin: 17px;
	height: 38px;
	background-color: #7f8ed7;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: bolder;
	transition: background-color .2s;
}

.main_box > .form_part > .part-form-btn:hover {
	background-color: #8594de;
}

#main > .form-form-box {
	width: 600px;
	min-height: 480px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.form-form-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.form-form-title {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center; 
	color: #222;
	font-size: 16px;
	font-weight: bolder;
	justify-content: center;
}

.editorDiv::-webkit-scrollbar {
	width: 8px;  /* 스크롤 너비 */
	background: none; /* 스크롤 전체 배경화면 */
}

.editorDiv::-webkit-scrollbar-thumb {
	background-color: #33303066;
	transition: background-color .3s;
	border-radius: 10px;
}

.editorDiv::-webkit-scrollbar-thumb:hover {
	background-color: #333030aa;
}

.editorDiv::-webkit-scrollbar-track {
	background: none;
	height: 10px;
}

.editorDiv {
	width: 560px;
	max-height: 360px;
	min-height: 246px;
	overflow-y: auto;
	margin: 0 auto;
	outline: none;
	padding: 14px 25px;
	color: #333;
	font-size: 14px;
}

.form-button-box {
	width: 560px;
	height : 40px;
	border: 1px solid #f4f4f4;
	background-color: #fbfbfb;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.form-button-box > button {
	border : none;	
	background: none;
	font-weight: bolder;
	color: #777;
	font-size: 18px;
	cursor: pointer;
	margin-left: 17px;
	outline: none;
}

.form-button-box > button:hover {
	color: #222 !important;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
	color: #999;
}

.form-image-box::-webkit-scrollbar {
	display: none;
}

.form-image-box {
	width: 560px;
	margin: 10px auto;
	min-height: 80px;
	position: relative;
	max-height: 250px;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-gap: 10px;
	grid-auto-rows: 83px;

}

.form-image-box > .form-image-item-box:hover {
	bottom: 3px;
}

.form-image-box > .form-image-item-box:hover > .form-image-item-close {
	opacity: 1;
}

.form-image-box > .form-image-item-box > .form-image-item-close {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	left: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	background-color: #0007;
	font-size: 30px;
	transition: opacity .3s;
	font-weight: bolder;
	color: #ccc;
	cursor: pointer;
	opacity: 0;
}

.form-image-box > .form-image-item-box {
	width: 80px;
	bottom: 0;
	transition: bottom .3s;
	height: 80px;
	position: relative;
	border-radius: 5px;
	border : 1px solid #ddd;
	box-sizing: content-box;
}

.form-image-item-box > span {
	color: #000;
	position: absolute;
	font-size: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.form-image-box > .form-image-item-box > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.form-image-box > #form-image-add:hover {
	 background-color: #ddda;
}

.form-image-box > #form-image-add {
	width: 80px;
	height: 80px;
	background: #eee;
	transition: background .3s;
	bottom: 0;
	position: relative;
	border-radius: 5px;
	border: none;
	color: #222;
}

.form-bottom {
	width: 100%;
	height: 60px;
	border-top: 1px solid #ebebeb;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.form-bottom > .form-submit {
	width: 100px;
	margin-right: 10px;
	height: 40px;
	background-color: #474e60;
	color: #fff;
	font-size: 14px;
	transition: background-color .3s;
	border-radius: 3px;
	cursor: pointer;
	border:none;
}

.form-bottom > .form-submit:hover {
	background-color: #383e4c;
}


.bld {font-weight: bolder;}
.it {
	font-style: oblique;
	margin-left: 13px !important;
}
.udl {text-decoration: underline;}
.strk {text-decoration: line-through;}

#color_input, #bgc_input {
	display: none;
}

#form_file {
	display: none;
}

.form-image-item-box > i {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #333030;
}

.form-image-box-dark {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #639fff2e;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	color: #222d;
}

.news_part {
	width: 100%;
	height: auto;
	position: relative;
}

.news_part > .news-container {
	box-shadow: 1px 1px 4px 2px #00000005;
	width: 100%;
	position: relative;	
	height: auto;
	background-color: #fff;
	margin-top: 15px;
}

.news-container > .news-top {
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #ebebeb;
}

.news-top > .news-top-icon {
	/*color: #ccc;
	font-size : 37px;*/
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.news-top-info {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.news-top-info > .news-top-info-name {
	color: #333;
	font-weight: bolder;
	font-size: 14px;
}

.news-top-info > .news-top-info-date {
	color: #999;
	font-size: 12px;
	margin-top: 2px;
}

.news-top > .news-top-right {
	position: absolute;
	right: 20px;
	color: #b7b7b7;
	font-size: 18px;
	cursor: pointer;
}

.news-top > .news-top-right:hover {
	color: #999;
}

.news-container > .news-content {
	padding: 20px;
	position: relative;
}

.news-container > .news-bottom {
	width: 100%;
	height: 50px;
	background-color: #fcfcfc;
	border-top: 1px solid #ebebeb;
	display: flex;
	position: relative;
}

.news-container > .news-bottom > button {
	width: 50%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border : none;
	cursor: pointer;
	font-size: 14px;
	outline: none;
}

.news-container > .news-bottom > button > i {
	margin-right: 7px;
	font-size: 18px;
}

.news-container > .news-bottom > button:hover > span {
	text-decoration: underline;
}

.news-container > .news-more-box {
	width: 150px;
	position: absolute;
	height: auto;
	background-color: #fff;
	box-shadow: 0 0 0 1px #0004, 0 10px 10px 0 #0001;
	right: 23px;
	top: 55px;
	display: none;
}

.news-more-box > .news-more-box-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
}

.news-more-box > .news-more-box-container > li {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	border-top: 1px solid #f5f5f5;
	background: transparent;
	color: #333;
}

.news-more-box > .news-more-box-container > li:first-child {
	border-top: none;
}

.news-more-box > .news-more-box-container > li:hover {
	background: #f9f9f9;
}

.news-more-box > .news-more-box-container > li > i {
	font-size: 18px;
	color: #666;
	margin-left: 15px;
}

.news-more-box > .news-more-box-container > li > span {
	font-size: 15px;
	margin-left: 3px;
}
.news-more-box > .news-more-box-container > li:last-child > span {
	margin-left: 7px;
}

.last-part {
	width: 100%;
	height: 100px;
	background-color: #fff;
	box-shadow: 1px 1px 4px 2px #00000005;
	margin-top: 30px;
	margin-bottom: 40px;
	cursor: pointer;
	position: relative;
	bottom: 0;
}

.last-part:hover {
	animation-name: updown;
	animation-duration: .7s;
	animation-iteration-count: infinite;
}

@keyframes updown {
	0% {
		margin-bottom: 40px;
		bottom: 0;
	}

	50% {
		bottom: 10px;
		margin-bottom: 50px;
	}

	100% {
		margin-bottom: 40px;
		bottom: 0;
	}
}

.last-part-top {
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #999;
}

.last-part-bottom {
	width: 100%;
	position: relative;
	height: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.last-part-bottom > p {
	font-size: 15px;
	color: #666;
	font-weight: bolder;
}

.last-part-bottom > span {
	font-size: 12px;
	color: #666;
	margin-top: 5px;
}

.news-img-box {
	width: 100%;
	position: relative;
	height: auto;
	padding: 0 20px;
	overflow: hidden;
}

.news-img-box > img {
	object-fit: contain;
	width: 100%;
	height: auto; 
}

.news-attr-box {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.news-attr-box > div {
	cursor: pointer;
	position: relative;
	color: #666;
}

.news-attr-box > .div > span {
	position: relative;
	left: -4px;
}

.news-attr-box > div:hover > span {
	text-decoration: underline;
}

.news-comment-box {
	width: 100%;
	position: relative;
	height: auto;
	display: none;
}

.news-comment-box > div {
	width: 100%;
	position: relative;
}

.news-comment-container {
	height: auto;
	background-color: #fcfcfc;
}

.news-comment {
	position: relative;
	width: 100%;
	height: 90px;
	display: flex;
	border-top: 1px solid #f0f0f0;
}

.news-comment-img {
	margin-left: 20px;
	font-size: 40px;
	margin-top: 5px;
	color: #ccc;
}

.news-comment-text {
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px 0;
	width: 100%;
}

.news-comment-text > .news-comment-name {
	color: #333;
	font-size: 13px;
	width: 50%;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.news-comment-text > .news-comment-content {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 85%;
	overflow: hidden;
	font-size: 13px;
	padding: 3px 0;
	color: #222;
}

.news-comment-text > .news-comment-date {
	font-size: 12px;
	font-weight: 400;
	color: #777;
}

.news-comment-form {
	height: 60px;
	display: flex;
	align-items: center;
	border-top: 1px solid #f0f0f0;
	justify-content: space-between;
}

.news-comment-form > input {
	height: 35px;
	margin-left: 18px;
	border-radius: 20px;
	border: 1px solid #dedede;
	width: 82%;
	padding-left: 38px;
	color: #222;
	padding-right: 15px;
	outline: none;
}

.news-comment-form > button {
	width: 70px;
	border-radius: 18px;
	height: 35px;
	color: #fff;
	background-color: #474e60;
	border: none;
	margin-right: 18px;
	cursor: pointer;
}

.news-comment-form-img {
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.news-comment-img > img {
	width: 34px;
	height: 34px;
}

.news-comment-form-img > img {
	width: 23px;
	height: 23px;
}

.news-img-box > span {
	font-size: 12px; 
	color: #666;
	cursor: pointer;
}
.news-img-box > span:hover {
	text-decoration: underline;
}